<doctype html>
<html>
	<head>
		<title>Group 5</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
	</head>
	<body>
			<!-- {% for item in news%}
			<div class="w3-container">
				<h3> {{ item.title }} </h3>
				<p> {{ item.description }}</p>
				<a href={{item.url}}><p> Link to original news article</p></a>
			</div>
			{% endfor %} -->

			{%for i in range(0, lenTone)%} 
				<div class="w3-container">
					<h3> {{ news[i].title }} </h3>
					<p> {{ news[i].description }}</p>
					<p> {{ tones[i] }}</p>
					<a href={{news[i].url}}><p> Link to original news article</p></a>
				</div>
			{%endfor%} 
	</body>
</html>
